@{
	ViewData["Title"] = "Home Page";

	List<string> images = new List<string>{
       ""
	};
}

<form>
	<div style="font-weight:700">
		<label class="m-1">Upload Images</label>
		<input class="form-control input-group m-1" type="file" />
	</div>
	<div style="font-weight:700">
		<label class="m-1">Title</label>
		<input class="form-control input-group m-1" type="text" placeholder="eg Painting" />
	</div>
	<div style="font-weight:700">
		<label class="m-1">Description</label>
		<input class="form-control input-group m-1" type="text" />
	</div>
	<button type="button" class="m-1 btn btn-dark">Upload</button>
</form>

<div class="container">
	<h1 class="text-center m-5">Images</h1>
    <div class="row">
        @foreach (var imageUrl in images)
        {
            <div class="col-md-4">
                <img src="@imageUrl" class="img-fluid m-1" alt="Image">
            </div>
        }
    </div>
</div>