@{
	ViewData["Title"] = "Home Page";

	List<string> images = new List<string>{
        "https://shorturl.at/jmyLN",
		"https://shorturl.at/beDM0",
		"https://shorturl.at/knLP0",
		"https://shorturl.at/knLP0",
		"https://shorturl.at/beDM0",
		"https://shorturl.at/knLP0",
		"https://shorturl.at/beDM0",
		"https://shorturl.at/jmyLN",
		"https://shorturl.at/knLP0",
		"https://shorturl.at/jmyLN"
	};
}

<div class="container">
	<h1 class="text-center m-5">Images</h1>
    <div class="row">
        @foreach (var imageUrl in images)
        {
            <div class="col-md-4">
                <img src="@imageUrl" class="img-fluid m-1" alt="Image">
            </div>
        }
    </div>
</div>